[user]
    name = Ilin Tatabitovski
    email = itatabitovski@gmail.com
[alias]
    co = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an> <%ae>%Creset' --abbrev-commit
    amend = commit -a --amend
